@import "variables";
@import "home";
@import "movies";
@import "directives/movie-snippet";

body {
	background-color: @background;
	padding-bottom: 20px;
}

div.container {
	padding-top: 20px;
}

.link:hover {
	cursor: pointer;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: left;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}
