@import "variables";
@import "home";
@import "directives/movie-snippet";
@import "directives/file-reader";

body {
	background-color: @background;
	padding-bottom: 20px;
}

div.container {
	padding-top: 20px;
}

.link:hover {
	cursor: pointer;
}

.profile-pic {
	max-height: 100%;
	max-width: 100%;
}

.rating {
	padding: 20px;
}

.reset-app {
	cursor: pointer;
}
