<div class="row">
	<div class="col-md-12">
		<h2 class="title">{{movie.title}}</h2>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-3">
		<img ng-src="{{movie.imgUrl}}"/>
		<div class="rating">
			<span ng-hide="disableRating">Rate this movie:</span>
				<select ng-hide="disableRating" ng-model="userRating" ng-change="rateMovie()" ng-disabled="disableRating">
					<option ng-repeat="option in ratingOptions" value="{{option}}">{{option}}</option>
				</select>
				<div ng-show="disableRating">
					Thanks for voting!
				</div>
		</div>
	</div>

	<div class="col-md-9">
		<form name="form" ng-submit="updateMovie()">
			<div class="form-group">
				<label for="movie-title">Title *</label>
				<input type="text" class="form-control" id="movie-title" placeholder="Movie title" ng-model="movie.title" required>
			</div>
			<div class="form-group">
				<label for="movie-year">Release Year</label>
				<input type="number" class="form-control" id="movie-year" placeholder="2001" ng-model="movie.releaseYear">
			</div>
			<div class="form-group">
				<label for="movie-income">Gross Income</label>
				<input type="number" class="form-control" id="movie-income" placeholder="999" ng-model="movie.grossIncome">
			</div>
			<div class="form-group">
				<label for="movie-director">Director</label>
				<input type="text" class="form-control" id="movie-director" placeholder="Movie director" ng-model="movie.director">
			</div>
			<div class="form-group">
				<label for="movie-rating">Average rating</label>
				<p class="form-control-static" id="movie-rating">{{movie.rating | number:0}}</p>
			</div>
			<div class="form-group">
				<label for="movie-genres">Genres</label>
				<input type="text" class="form-control" id="movie-genres" placeholder="Movie genres, comma separated" ng-model="movie.genres">
			</div>
			<div class="form-group">
				<label for="movie-img">Image URL</label>
				<input type="text" class="form-control" id="movie-img" placeholder="Image URL" ng-model="movie.imgUrl">
			</div>
			<div class="form-group">
				<label for="movie-exceprt">Excerpt</label>
				<textarea class="form-control" id="movie-exceprt" placeholder="Excerpt" ng-model="movie.excerpt" />
			</div>
			<div class="form-group">
				<label>Cast</label>
				<a href="#/movies/{{movie.id}}/cast" class="btn btn-info pull-right">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true" /> Edit Cast
				</a>
				<ul>
					<li ng-repeat="actor in movie.actors"><a ng-href="#/actors/{{actor.id}}">{{actor.firstName}} {{actor.lastName}}</a></li>
				</ul>
			</div>

			<hr>
			<button type="submit" class="btn btn-success" ng-disabled="form.$invalid">
				<span class="glyphicon glyphicon-ok" aria-hidden="true" /> Update Movie
			</button>
			<button type="button" class="btn btn-danger pull-right" ng-click="deleteMovie()">
				<span class="glyphicon glyphicon-remove" aria-hidden="true" /> Delete Movie
			</button>
		</form>
	</div>
</div>
