<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>mdb</title>
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
		<link rel="stylesheet" href="mdb.css" media="screen" title="no title" charset="utf-8">
	</head>
	<body ng-app="mdb" ng-controller="ApplicationController" ng-init="init()">

		<nav class="navbar navbar-default" ng-controller="NavbarController">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/">MDB - Movie Database</a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-content" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-content">
					<ul class="nav navbar-nav">
						<li ng-repeat="menu in menus" ng-class="{'active': isActive(menu)}">
							<a ng-href="#{{menu.url}}"><span class="glyphicon" ng-class="menu.icon" ng-bind="' ' + menu.label"/></a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a class="reset-app" ng-click="resetApp()">Reset App</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container" ng-view></div>

		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<!-- endbower -->
		<script src="mdb.js"></script>
	</body>
</html>
