<header>
	<span class="h1">JS MOVIE APP</span>
	<form class="form-inline pull-right" ng-submit="search()">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search Movie" ng-model="query1">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Go!</button>
			</span>
		</div>
</form>
</header>

<main>
	<div class="movie-snippet">
		<div class="image">
			<img src="img/godfather2.png" alt="godfather2.png" />
			<div class="rating">89</div>
		</div>
		<div class="description">
			<div class="title">
				THE GODFATHER II
			</div>
			<div class="excerpt">
				James Franco start in this new series as an adaptation of the kin's time travel glorious story.
			</div>
		</div>
	</div>

	<div class="movie-snippet">
		<div class="image">
			<img src="img/savingprivateryan.png" alt="savingprivateryan.png" />
			<div class="rating">64</div>
		</div>
		<div class="description">
			<div class="title">
				SAVING PRIVATE RYAN
			</div>
			<div class="excerpt">
				James Franco start in this new series as an adaptation of the kin's time travel glorious story.
			</div>
		</div>
	</div>

	<div class="movie-snippet">
		<div class="image">
			<img src="img/butterflyeffect.png" alt="butterflyeffect.png" />
			<div class="rating">43</div>
		</div>
		<div class="description">
			<div class="title">
				THE BUTTERFLY EFFECT
			</div>
			<div class="excerpt">
				James Franco start in this new series as an adaptation of the kin's time travel glorious story.
			</div>
		</div>
	</div>

	<div class="movie-snippet">
		<div class="image">
			<img src="img/fightclub.png" alt="fightclub.png" />
			<div class="rating">21</div>
		</div>
		<div class="description">
			<div class="title">
				FIGHT CLUB
			</div>
			<div class="excerpt">
				James Franco start in this new series as an adaptation of the kin's time travel glorious story.
			</div>
		</div>
	</div>

</main>
