<header>
	<span class="h1">JS MOVIE APP</span>
	<form class="form-inline pull-right" ng-submit="search()">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search Movie" ng-model="query1">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Go!</button>
			</span>
		</div>
</form>
</header>

<main>
	<div class="movie-snippet" ng-repeat="movie in movies">
		<div class="image">
			<img ng-src="{{movie.imgUrl}}" alt="{{movie.imgUrl}}" />
			<div class="rating">{{movie.rating}}</div>
		</div>
		<div class="description">
			<div class="title">{{movie.title | uppercase}}</div>
			<div class="excerpt">{{movie.excerpt}}</div>
		</div>
	</div>
</main>
